body {
  font-family: "Roboto", sans-serif;
}

.rubik-text {
  font-family: "Rubik", sans-serif;
}

.two-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
