body {
  font-family: "Roboto", sans-serif;
}

.rubik-text {
  font-family: "Rubik", sans-serif;
}

.two-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive-card {
  transition: all 0.4s ease-in-out;
}

.interactive-card:hover {
  top: 6px;
  left: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.merch-items {
  width: max-content;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.merch-item {
  flex: 0 0 calc(16.666% - 1rem);
  min-width: 160px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

a {
  text-decoration: none !important;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media-scale-animation {
  display: inline-block; /* <== WAJIB biar transform bisa kerja benar */
  transition: transform 0.3s ease;
}

.social-media-scale-animation:hover {
  transform: scale(1.2);
}

.gap-wrap {
  gap: 12px;
}

.rotate-90 {
  transform: rotate(90deg);
}

#settingButton {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.6s ease;
}

#settingButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

#settingButton {
  right: 16px;
  transition: opacity 0.3s ease;
}

#navShop:hover,
#navLinks:hover {
  cursor: pointer !important;
}

#navShop,
#navLinks {
  transition: background-color 0.3s ease;
}

@media (min-width: 605px) {
  #settingButton {
    right: 10%;
  }
}

@media (min-width: 768px) {
  #settingButton {
    right: 22%;
  }
}

@media (min-width: 1024px) {
  #settingButton {
    right: 27%;
  }
}
